@font-face {
    font-family: "JetBrainsMono";
    src: url('/fonts/JetBrainsMono-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url('/fonts/JetBrainsMono-Bold.woff2');
    font-weight: 700;
}

body {
    font-family: 'JetBrainsMono';
}

h1 {
    font-family: 'JetBrainsMono';
    font-weight: 700;
}

.navbar-brand {
    font-family: 'JetBrainsMono';
    font-weight: 700;
}

.nav-link {
    font-family: 'JetBrainsMono';
}
